.food {
  margin-top: var(--spacing-regular);
  display: flex;
  background: #f8f8f8;
  padding: 10px;
}

.food--image {
  margin-right: 10px;
}

.food--image img {
  max-width: 150px;
  border-radius: 50%;
}

.food--name {
  margin: 0;
}

.food--ingredients h5 {
  margin: 10px 0 0;
}

.food--ingredients--items {
  padding: 0;
  list-style: none;
  margin: 10px 0;
}

.food--ingredients--items li {
  list-style: square;
  list-style-position: inside;
  margin: 5px 0;
}

.food--nutrients h5 {
  margin: 10px 0 0;
}

.food--nutrients--items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.food--nutrients--items > div {
  margin-top: 10px;
  font-size: 12px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px;
}