.home {
  max-width: 1000px;
  margin: var(--spacing-regular) auto;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #eee;
  overflow: hidden;
}

.home--title {
  background: #485A7A;
  padding: var(--spacing-large);
  text-align: center;
  margin: 0;
  color: #fff;
}